@charset "UTF-8";
    /* 
    medidas aboslutas
    cm, mm, in, px, pt, pc
    medidas relativas
    em, ex, rem, vw, vh, %

    1em = 16px (geralmente)
    */
   
p {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500; /*lighter normal bold bolder*/
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: lighter;
    font-style: italic;
    text-decoration: underline;
}
    /*
    shorthand font
    1 - font-style
    2 - font-weight
    3 - font-size
    4 - font-family
    */
h2 {
    font: italic lighter 2em Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
