@charset "UTF-08";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5em;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-shadow: 0px 0px 10px red;
}

section {
    padding: 10vh 0px;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

p.t1 {
    font-size: 1em;
}

section.imagem {
    background-color: black;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}

section.imagem > p {
    color: white;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}